@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

html{
  font-size: 62.5%;
}

*{
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh; 
}





@media screen and (max-width:1024px) {

  html{
    font-size: 47.5%;
  }
  
}


@media screen and (max-width:915px) {

  html{
    font-size: 38.5%;
  }
  
}


@media screen and (max-width:425px) {

  html{
    font-size: 29.5%;
  }

  .title {
    justify-content: space-between;
  }
  
}

